@font-face {
  font-family: "norsebold";
  src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background-color: rgb(245, 243, 242);
  --input-background: rgb(255, 252, 248);
  --faded-color: rgb(82, 82, 82);
}

* {
  box-sizing: border-box;
}

p {
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.left {
  width: 35%;
  background-image: url("./images/plants.jpg");
  background-size: cover;
  color: white;
  align-self: stretch;
  position: relative;
}

body,
.left,
.right {
  margin: 0;
}

.right {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  background-color: var(--background-color);
  padding: 32px 0px 16px;
}

.right > p {
  width: 60%;
  padding: 0 32px;
}

.right p {
  font-weight: bold;
}

img {
  height: 100%;
}

.panel {
  font-family: "norsebold", sans-serif;
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 20vh;
  height: 16vh;
  width: 100%;
}

.credit {
  text-align: center;
  width: 100%;
  padding: 8px;
  font-size: 0.6em;
  position: absolute;
  bottom: 0;
}

.right-panel {
  display: flex;
  flex-direction: column;
  padding: 32px;
  background: white;
  gap: 16px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: none;
  padding: 0px;
}

.inputs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  gap: 16px 48px;
}

.inputs div {
  display: flex;
  flex-direction: column;
  width: 40%;
  font-weight: bold;
}

label {
  padding: 2px 0;
  color: var(--faded-color);
  font-size: 0.6rem;
  letter-spacing: 0.05rem;
}

input {
  background-color: var(--input-background);
  border-radius: 4px;
  border-width: 1px;
  border-color: rgb(223, 223, 223);
  box-shadow: none;
  padding: 4px 8px;
  border-style: solid;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus {
  border-color: #596d48;
  border-width: 2px;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

input:invalid {
  border-color: red;
  border-width: 2px;
}

button[type="submit"] {
  background-color: #596d48;
  border-radius: 4px;
  border: none;
  color: white;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.1);
  margin: 16px 32px;
  padding: 8px 24px;
}

p > a {
  color: #596d48;
}
