@font-face {
  font-family: "norsebold";
  src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding: 0;
  font-family: sans-serif;
}

div,
body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.left {
  width: 40vw;
  height: 100%;
  background-image: url("./images/plants.jpg");
  background-size: cover;
  color: white;
  position: relative;
}

body,
.left,
.right {
  margin: 0;
}

.right {
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  background-color: rgb(255, 251, 246);
}

.right p {
  width: 60%;
  font-weight: bold;
}

img {
  height: 100%;
}

.panel {
  font-family: "norsebold", sans-serif;
  font-size: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 20vh;
  height: 16vh;
  width: 100%;
}

.credit {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 8px;
  font-size: 0.6em;
}
